<style>
  #rightads {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  #leftads {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  #centerads {
    position: fixed;
    bottom: 0;
    left:40%;
  }
</style>

<div id="leftads"><img src="{{ url_root }}static/youradhere.png" alt="image" style="height: 2%" /></div>
<div id="centerads"><img src="{{ url_root }}static/youradhere.png" alt="image" style="height: 2%" /></div>
<div id="rightads"><script src="/static/whoru.js"></script></div>