<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A free image hosting service">
    <meta name="keywords" content="image sharing, image hosting, shutter plugin">
    <title>IMGz.ML - image hosting</title>
    {% block head %}{% endblock %}
    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-81709003-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
  </head>
  <body ng-app="ImgzML" ng-cloak>
    {% include "adds.html" %}
    {% block content %}{% endblock %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}" style="color: red;">{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
   </body>
</html>
