{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="static/style.css">
<!-- Angular Material style sheet -->
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.css">
{% endblock %}

{% block content %}
<div ng-cloak="" ng-app="MyApp" style="height: 90%;">
    <md-tabs layout-fill md-border-bottom="">
      <md-tab label="home">
        <md-content class="md-padding">
          <h1 class="md-display-2">Upload IMG file:</h1>
            <p>Upload your images/photos to our free image hosting servers and share them with your friends, family,and colleagues.</p>
            <p>Supported Image Formats: png, jpg, jpeg, gif, bmp.</p>
            <p>Maximum Filesize: 10 MB</p><p></p>
            <form action="/api/imgz/" method="post" name="simple" enctype="multipart/form-data">
                {{ form.reqfile() }}
                {{ form.recaptcha }}
                {{ form.submit }}
                {{ form.csrf_token }}
            </form>
            <b>Your IP: {{ remote_addr }}</b>
        </md-content>
      </md-tab>
      <md-tab label="faq" id="faq">
        <md-content class="md-padding" style="width: 640px;">
            <p><b>What is Imgz.ML? How do I use it?</b></p>
                We are a free image hosting solution. What is designed for you to share your digital pictures with friends and family, email, post images on forums, social networking sites, blogs and Online auctions sites.
            <p><b>How much does the service cost?</b></p>
                This website will always be 100% free! Imgz.ML is supported by our featured advertisers.
            <p><b>Which image file formats are accepted?</b></p>
                PNG, JPG, JPEG, GIF, BMP, PSD images and photos can be uploaded using our service.
            <p><b>What kinds of pictures will you host for me?</b></p>
                Our service will host any legal image, except for adult-rated images. Any files against the law will be deleted and your info will be reported to the appropriate authorities.
            <p><b>Is direct linking allowed?</b></p>
            No, we not allow "direct linking" (also referred to as "hot linking").
            Yes, we allow "direct linking" (also referred to as "hot linking").
            <p><b>How long will you store my images?</b></p>
            Barring any unforeseen event, the uploaded images that do not violate our Terms of Service are stored on our server for 6 month.
            <p><b>What is the max filesize limit?</b></p>
            The maximum file-size is 10 MB.
            <p><b>Have more questions?</b></p>
            Please contact us through the mail: imgz at imgz.ml
        </md-content>
      </md-tab>
      <md-tab label="tos">
        <md-content class="md-padding">
          <h1 class="md-display-1">Terms of Service</h1>
            <ul style="width: 640px;" >
                <li>Imgz.ML reserves the right to disable or delete any file which might compromise the security of our servers, uses excessive bandwidth, violates this Terms of Service or is otherwise considered undesirable (at our sole discretion).</li>
                <li>The image hosting service is provided as-is with no implied warranties of any kind. We can not be held responsible for the loss of data or other damages which may result from (lack of) functionality of our service.</li>
                <li>Imgz.ML does not allow the following types of files to be uploaded:</li>
                    <ul>
                        <li>Images which violate copyrights or patents are not allowed.</li>
                        <li>Images which contain adult content such as pornography or excessive nudity.</li>
                        <li>Images which contain gruesome scenes, such as dead people or mutilations.</li>
                        <li>Images which violate the privacy of the individuals depicted are not allowed.</li>
                        <li>Images which are considered illegal in your country.</li>
                    </ul>
                <li>Files will not be deleted unless they have not been accessed for some time or violate our Terms of Service.</li>
                <li>Imgz.ML reserves the right to deny access to any user who uploads files that compromise the security of our servers, use excessive bandwidth or are otherwise deemed to be misusing the free file hosting service.</li>
                <li>Imgz.ML reserves the right to modify these Terms of Service at any time without prior notification.</li>
            </ul>
          <h1 class="md-display-1">Privacy Policy</h1>
            <ul style="width: 640px;">
                <li>We will never sell, rent, or lease our customer information to third parties.</li>
            </ul>
        </md-content>
      </md-tab>
      <md-tab label="clients">
        <md-content class="md-padding" style="width: 640px;">
            <h1 class="md-display-1">Shutter plugin</h1>
            <p><a href="http://shutter-project.org/">Shutter</a> - Feature-rich Screenshot Tool</p>
            <p>dnf install shutter</p>
            <p>cd /usr/share/shutter/resources/system/upload_plugins/upload/</p>
            <p>wget {{ url_root }}static/ImgzML.pm</p>
            <p>chmod +x /usr/share/shutter/resources/system/upload_plugins/upload/ImgzML.pm</p>
        </md-content>
      </md-tab>
    </md-tabs>
</div>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc4/angular-material.min.js"></script>
  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    /** You must include the dependency on 'ngMaterial'     */
    angular.module('ImgzML', ['ngMaterial']);
  </script>
{% endblock %}

{% block body %}
{% endblock %}
